.App{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.showMoreBtn {
  background-color: transparent;
  border: none;
  color:#089DE3;
}
.author {
  color: #9E866B;
  font-weight: bold;

}
.price {
  font-weight: bold;
}
.navBar {
  height: 10%;
  display: flex;
justify-content: center;
 background-color: #cfd8dc;
 color: black;
 text-decoration: uppercase;
}

.link {
  margin: 20px;
  text-decoration: none;
  padding: 10px 40px;
 
 }

.upperBlock{

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 95%;
  margin: 5px;
}

.bestsellersMainCont{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booksCatalog {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.card {
  height: 25hv;
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 2px lightgrey;
  padding: 2%;
  margin: 5px;

}
.btnSort{

  background-color: transparent;
  border: solid 2px  lightgrey;
  border-radius: 5px;
  height: 30px;
}

.sortCont{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardBestseller{
  height: 28hv;
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  margin: 5px;

}
.noDisplay {
  display: none;
}

.bestsellersCont{
  height: 35hv;
  width:120%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 2px lightgrey;
  border-bottom: solid 2px lightgrey;
  padding: 2%;
  margin: 5px;
}

.imgCont{
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
 }

.detailsCont{
  width:50%;
 display: flex;
 flex-direction: column;
 align-items: right;
 justify-content: flex-start;
 flex-grow: 1;
 flex-shrink: 1;
 flex-wrap: wrap;
 padding-left: 20px;
}

.descCont{
display: flex; 
justify-content: flex-start; 
width: 95%;
height: auto;

}

.filterCont{
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border-top: solid 2px; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.filterBtn{
  text-align: center;
 background-color: transparent;
 width: 60px;
 height: 60px;
 border-radius: 30px;
 border: solid 2px lightcoral;

}
.filterRootCont{
 display: flex;
 justify-content: center;
 padding-top: 15px;
 
}


@media all and (max-width: 800px) {
  .cardBestseller{

    width:120%;
    display: flex;
  }

  .bestsellersCont{
    /* height: 35hv; */
    width:95%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0; 
  }
  .sortCont{
    width: 95%;
  }
  .filterCont{
    width:95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* border-top: solid 2px; */
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .navBar {
    flex-direction: row;
  }

  
  .link {
    margin: 0;
    text-decoration: none;
    /* padding: 5px 10px; */
   
   }
.card{
  width: 95%;
}

.upperBlock{

  width:100%;
}


}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
